 * {
     margin: 0px;
     padding: 0px;
     font-family: 'Work Sans', sans-serif;
 }

 /* header and banner styles  */

 header {
     background-image: url(../images/banner/banner2.png);
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 130px;

 }

 .header-title {
     width: 525px;
     height: 228px;
     font-weight: 800;
     font-size: 65px;
     color: #151414;
     padding-top: 250px;
     padding-left: 1166px;
     text-align: right;
 }

 .header-pr {
     width: 494px;
     height: 78px;
     font-weight: 400;
     font-size: 16px;
     color: #444343;
     margin-top: 24px;
     padding-left: 1196px;
     margin-bottom: 32px;
     text-align: right;
 }

 .header-btn {
     width: 160px;
     height: 64px;
     background: #F15B22;
     border-radius: 5px;
     font-weight: 600;
     font-size: 20px;
     color: #FFFFFF;
     border: none;
     padding: 21px 20px;
     margin-left: 1529px;
 }

 /* my failures of previous year styles */
 .image-person-div {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 130px;


 }

 .image-person-hd-div {
     margin-left: 95px;
     width: 500px;
     height: 400px;

 }

 ul li {
     list-style: none;
 }

 ul li:before {
     content: "✓";
     color: green;
     margin-right: 15px;
     font-weight: 900;
 }

 .image-person-hd {
     width: 288px;
     height: 150px;
     font-weight: 700;
     font-size: 45px;
     color: #151414;
     margin-bottom: 39px;
 }

 .image-person-pr {
     width: 416px;
     height: 104px;
     font-weight: 400;
     font-size: 18px;
     color: #444343;
     margin-bottom: 12px;

 }

 .image-person-ul-list {
     font-weight: 400;
     font-size: 17px;
     color: #444343;

 }



 /* my plan section styles */

 .my-plan-container {
     display: flex;
     gap: 100px;
     margin-left: 380px;
     margin-right: 60px;
 }

 .my-plan-hd {
     font-weight: 700;
     font-size: 49px;
     color: #151414;
     text-align: center;
     margin-bottom: 55px;
 }

 .my-plan-title {
     font-weight: 700;
     font-size: 30px;
     color: #151414;
 }

 .my-plan-description {
     font-weight: 500;
     font-size: 25px;
     color: #737272;
 }

 .my-plan-section {
     margin-bottom: 126px;
 }

 .watch-image {
     margin-left: 380px;
     margin-bottom: 140px;
     background-image: url(../images/gradient2.png);
 }

 /* my plan section styles */

 .positive-mindset-div {
     background: url(../images/gradient2.png), url(../images/watch.png);
     background-repeat: no-repeat;
     width: 1140px;
     height: 300px;
     margin-left: 380px;
     border-radius: 8px;
 }

 .positive-mintset-hd {

     font-weight: 700;
     font-size: 40px;
     width: 459px;
     height: 94px;
     margin-bottom: 24px;
     padding-top: 59px;
     padding-right: 617px;
     padding-left: 64px;

 }

 .positive-mintset-btn {
     font-weight: 600;
     font-size: 20px;
     background: #FFFFFF;
     border-radius: 5px;
     padding: 21px 36px;
     page-break-inside: 64px;
     margin-left: 64px;
     margin-bottom: 59px;
     border: none;
 }

 .positive-mindset-section {
     margin-bottom: 135px;
 }

 /* footer future section styles */
 .future-section {
     display: flex;
     background: #151414;
     height: 577px;
 }

 .future-section-div {
     margin-right: 331px;
     margin-left: 230px;
     margin-top: 131px;
 }

 .future-section-hd {
     font-weight: 700;
     font-size: 45px;
     color: #F8F8F8;
     margin-bottom: 16px;
 }

 .future-section-pr {
     font-weight: 400;
     font-size: 16px;
     color: #FFFFFF;
     margin-bottom: 24px;
 }

 .future-section-eml {
     font-weight: 400;
     font-size: 16px;
     color: #FFFFFF;
     margin-bottom: 16px;
 }

 .future-section-phn {
     font-weight: 400;
     font-size: 16px;
     color: #FFFFFF;
     margin-bottom: 32px;
 }

 #future-section-email {
     background: #151414;
     font-weight: 400;
     font-size: 18px;
     color: white;
     padding: 21px 146px 21px 21px;
     margin-right: 229px;
     margin-bottom: 16px;
     border-color: #FFFFFF;
     border-radius: 5px;
 }

 .future-section-btn {
     background: #FFFFFF;
     border-radius: 8px;
     margin-right: 383px;
     font-weight: 600;
     font-size: 20px;
     color: #F15B22;
     padding: 20px 36px 20px 36px;
     border-radius: 5px;
 }

 .future-section-subs {
     font-weight: 600;
     font-size: 25px;
     color: #FFFFFF;
     margin-bottom: 31px;
     padding-top: 130px;
 }

 .img-icon {
     margin-right: 8px;
 }